.search-page {
  display: flex;
  height: 100vh;
}

.search-panel {
  width: 35%;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}

.map-panel {
  width: 65%;
}

.map-container {
  height: 100%;
}
